:root {
    --accent-color:#ffb16e;
}

html{
    background-color:#000;
}

header{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.header-title{
    position:absolute;
    z-index: 9999; 
    margin: auto;
    text-align: center;
    color: #ddd;
    border: 2px solid #ddd;
    font-size: 96px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-style: italic;
    text-shadow: 2px 2px 4px var(--accent-color);
    font-weight: bold;
    padding: 30px 50px 30px 50px;
}

.header-subtitle{
    margin-top: 15px;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 6px;
    font-style: normal;
    text-shadow: none;
}

.main {
    position: absolute;
    margin-left: calc(50vw - 560px);
    margin-top: calc(50vh - 240px);
    margin-bottom: calc(50vh - 315px);
    width: 1000px;
    height: 570px;
    z-index: 9999;
    background-color: black;
    padding: 30px 60px;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    color: #ddd;
    font-size: 14px;
}
a {
    text-decoration: none;
    color: var(--accent-color);
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 36px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #ddd;
}
h1.shadow {
    text-shadow: 2px 2px 4px var(--accent-color);
}
h2 {
    font-size: 24px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #ddd;
}
h2.shadow {
    text-shadow: 1px 1px 2px var(--accent-color);
}
p {
    font-size: 16px;
    line-height: 24px;
    color: #DDD;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding-left: 20px;
    border-left: 1px solid white;
}
footer {
    border-top: 1px solid #ddd;
    font-size: 14px;
}

ul.posts {
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
    color: #ddd;
}

 ul li a{
    text-transform: uppercase;
    font-style:italic;
    letter-spacing: 1px;
    
}

.home-banner .slide .video-slide {
  background-color: #000; }

.home-banner.loading .video-background {
  opacity: 0; }

.video-background {
  position: absolute;
  top: 50%;
  left: 0;
  padding-top: 56.25%;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: 2s opacity ease;
  transition: 2s opacity ease;}

.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0.3;}


#section01 a {
}
#section01 a span {
  position: absolute;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}