:root {
    --accent-color:#ffb16e;
}

body {
background-color: black;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';

}

.bios {

display:flex;
flex-wrap:wrap;
height:100vh;
max-width: 1200px;
        margin: auto;
color: white;
align-content: center;
    letter-spacing:.5px;
}

a {
color:#000;
}

#container {
display: inline-block;
width: 25%;
box-sizing: border-box;
background-color: black;
margin: 0 auto;
padding:10px;
}

#name {
font-size:calc(12px + 1vw);
font-weight:bold;
letter-spacing:-2.5px;
text-align:left;
margin:7px;
margin-top:15px;
margin-bottom:-7px;
line-height:calc(12px + 0.25vw);
}

#info {
font-weight:none;
letter-spacing:.5px;
font-size:calc(5px + 0.5vw);
text-align:left;
padding:8px;
box-sizing: border-box;
margin: auto;
background-color: #333;
    min-height: 181px;
}

#photo img {
width:100%;
height:auto;
margin:5px;
    border-radius:50%;
}

#nav {
position:fixed;
left:25px;
top:20px;
font-size:12px;
font-weight: bold;
letter-spacing:1px;
height:32px;
border-left:1px solid #000;
padding-left:15px;
color:white;
    text-transform: uppercase;
}
 
#nav a {
text-decoration:none;
    color: white;
    display: inline-block;
    padding: 10px;
}